

<!DOCTYPE html>
<html ng-app="tictactoe">
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script> -->
  <script type="text/javascript" src="angular.min.js"></script>
  <title>TicTacTest</title>
</head>
<body ng-controller="cubeController">

  <section id="results">
    <div id="game_start" ng-show="player=='Start'">
      <h3>Start Game:</h3><hr/>
     <!--  <h4 ng-show="phase<=1">Enter Your name:</h4> -->
      <div id="getplayer1"><p>Player 1: {{player1_input}}</p>
        <input ng-enter="namePlayer(1)" ng-show="phase==0" type="text" ng-model="player1_input" class="name_textbox" placeholder="Name"></input>
        <input ng-show="phase==0" type="button" value="Submit" ng-click="namePlayer(1)"></input>
      </div>

      <div ng-hide="phase==0" id="getplayer2"><p>Player 2: {{player2_input}}</p><input ng-hide="phase>=2" type="text" ng-model="player2_input" class="name_textbox" placeholder="Name"></input>
      <input ng-show="phase<2" type="button" value="Submit" ng-click="namePlayer(2)"></input></div>
      <h3 ng-show="phase>=2">Choose a Square, {{player1_input}}.</h3>
    </div>
    <div id="results_box" ng-show="player!='Start'">
        <h3>Players:</h3><hr>
        <div class="turn_count"><p>{{player1_input}}</p><div id="player_icon" class="p1"></div></div>
        <div class="turn_count"><p>{{player2_input}}</p><div id="player_icon" class="p2"></div></div>
        <h3>Moves Remaining:</h3><hr>
        <div class="turn_count"><p id="turn1">{{5-player1_moves}}</p></div>
        <div class="turn_count"><p id="turn2">{{4-player2_moves}}</p></div>
    </div>
  </section>

   <section id="players">
    <div id="game_players" ng-show="player!='Start'">

      <h3>Next Turn:</h3><hr>
        <p>{{next_turn}}</p><div id="player_icon" class="box ng-class:p_number"></div>
        
    </div>
  </section>
{{results}}
  <section  id="grid">
    <div class="box"
        x-ng-repeat="(xIndex,x) in board"
        x-ng-click="player_move($index)"
        x-ng-class="{x.selected:true, p2:p2_clicked}, ">
        <div id="{{item.id}}" ng-init="init(item.value)"></div>
      {{item}}
    </div>
  </section>



  
<script type="text/javascript">
  angular.module("tictactoe", [])
    .controller('cubeController', ['$scope', function($scope) {

      $scope.board = [
        {id:0, value:0},
        {id:1, value:1},
        {id:2, value:2},
        {id:3, value:3},
        {id:4, value:4},
        {id:5, value:5},
        {id:6, value:6},
        {id:7, value:7},
        {id:8, value:8},];



      $scope.moves = 1; //no moves made (initialize at 1 so player 1 is odd / player 2 is even)
      $scope.player1_moves=0;
      $scope.player2_moves=0; 
      $scope.player = "Start";
      $scope.p_number = ""; //player is undefined initially
      $scope.results = ['','','','','','','','',''];
      $scope.phase = 0;
      $scope.p1count= 0;
      $scope.p2count= 0;

      var winCombos = [
        [0,1,2],
        [3,4,5],
        [6,7,8],
        [0,3,6],
        [1,4,7],
        [2,5,8],
        [0,4,8],
        [2,4,6]
        ];

      $scope.namePlayer = function(player){
        console.log("test + player");
        if (player == 1) {
          $scope.phase +=1;
        }
        else { 
          $scope.phase +=2;
        }
      }


      $scope.player_move = function(box_clicked) {
        $scope.box_clicked = box_clicked;

        if ($scope.player1_input==undefined) {
          $scope.player1_input = "Player 1";
        }
        if ($scope.player2_input==undefined){
          $scope.player2_input = "Player 2";
        }

        if ($scope.moves %2!=0) { //odds (player 1)
          $scope.player = "Player 1";
          $scope.p_number = "p2";
          play_game($scope.box_clicked, "p1", "p2");
        }
        else { //even (player 1)
          $scope.player = "Player 2";
          $scope.p_number = "p1";
          play_game($scope.box_clicked, "p2", "p1");
        }
      }

      var play_game = function(box, player, opponent) {
        if ($scope.results[box] == opponent){
          alert("Your opponent already owns that space. Choose Another");
        }
        else if ($scope.results[box] == player){
          alert("You already own that space. Choose Another");
        }
        else {
          $scope.results[box] = player;
          // console.log(box);
          // console.log($scope.results[box]);
          $scope.moves ++;
          if ($scope.player == "Player 1") {
            $scope.player1_moves++;
            $scope.next_turn = $scope.player2_input;
            $scope.p1_clicked = true;
          }
          else {
            $scope.player2_moves++;
            $scope.next_turn = $scope.player1_input;
          }
        $scope.p1p2 = $scope.results[box];

          if ($scope.moves>5) {
            for (var i = 0; i < winCombos.length; i++) { //win logic
              var combo = winCombos[i];
              if (($scope.results[combo[0]]==$scope.results[combo[1]]) && ($scope.results[combo[1]]==$scope.results[combo[2]]) && ($scope.results[combo[0]]!="")) {
                if ($scope.results[combo[0]]) {
                  if ($scope.results[combo[0]] =="p1") {
                    alert("You win, " + $scope.player1_input + "!");
                  }
                  else{
                    alert("You win, " + $scope.player1_input + "!");
                  }
                }
              }
            }
          }
          if ($scope.moves==10) {
            alert("Catsgame!");
          }

      }     
}
}]);
</script>  
</body>
</html>