

<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script type="text/javascript" src="angular.js"></script>
  <script src="draganddrop.js"></script>
  <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.js"></script>
  <title>TicTacTest</title>
</head>
<body ng-controller="cubeController">
  <header>
    <p class="winner_text" ng-show="winner">You won, {{winner}}!</p>
    <p class="winner_text" ng-show="catsgame">Drat, a catsgame.</p>
  </header>
  <section id="results">
    <div id="game_start" ng-show="player=='Start'">
      <h3>Start Game:</h3><hr/>
      <form id="get_name">
        <div>
          <p>Player 1: {{player1_input}}</p>
          <input ng-show="phase==0" id="p1_input" ng-enter="namePlayer(1)" type="text" ng-model="player1_input" class="name_textbox" placeholder="Name" autofocus></input>
        </div>
        <div ng-hide="phase==0" id="getplayer2">
          <p>Player 2: {{player2_input}}</p>
          <input id="p2_input" ng-enter="namePlayer(2)" ng-hide="phase>=2" type="text" ng-model="player2_input" class="name_textbox" placeholder="Name"></input>
        </div>
      </form>
      <h3 ng-show="phase>=2">Choose a Square, {{player1_input}}.</h3>
    </div>

    <div ng-show="player!='Start'">
      <h3>Next Turn:</h3><hr>
      <p>{{next_turn}}</p>
      <div class="player_icon ng-class:p_number"></div>
      <h3>Moves Remaining:</h3><hr>
      <div class="turn_count">
        <p id="turn1">{{5-player1_moves}}</p>
      </div>
      <div class="turn_count">
        <p id="turn2">{{4-player2_moves}}</p>
      </div>
    </div>
  </section>

  <section id="players">
    <div ng-show="player!='Start'">
      <h3>Players:</h3><hr>
      <div class="turn_count">
        <p>{{player1_input}}</p>
        <div class="player_icon p1"></div>
      </div>
      <div class="turn_count">
        <p>{{player2_input}}</p>
        <div class="player_icon p2"></div>
      </div>
    <div id="games_won" ng-show="player!='Start'">
      <h3>Games Won:</h3><hr>
      <div class="turn_count">
        <p id="turn1">{{p1_wins}}</p>
      </div>
      <div class="turn_count">
        <p id="turn2">{{p2_wins}}</p>
      </div>
    </div>
  </section>
<section>
  <div id="grid">
     <div autoblur id="tree"></div>
    <div class="box" id="tile{{$index}}"
      ui-on-drop="onDrop($event, $data, cell)"
      ng-repeat="cell in cellz track by $index"
      ng-mouseup="player_move(cell)"
      ng-class="{p1: cell.owner=='p1', p2: cell.owner=='p2', box2: moves%2==0, win_box: cell.win=='win', lose_box: (winner_declared && cell.win!='win') }">
    </div>

    <p class="winner_text" ng-click="init()" ng-show="winner || catsgame">Play again?</p>
    <div ng-hide="true" class="drag"
      ui-draggable="true"
      drag="box"
      on-drop="onDrop($event, $data, cellz)"
      on-drop-success="test()"
      ng-repeat="i in items track by $index"
      ng-class="{p1: i.player=='1', p2: i.player=='2'}">
    </div>
  </div>
</section>
<script type="text/javascript">


  var TTTApp = angular.module('TTTApp', ['firebase']);
      TTTApp.controller("cubeController", ["$scope", "$firebase",
  function($scope, $firebase) {

    // var TTTRef = new Firebase("https://initialtictac.firebaseIO.com");

    // $scope.clickCounter = $firebase(new Firebase("https://initialtictac.firebaseIO.com" + '/clickCounter'));

    // $scope.remoteCellList = 
    // $firebase(new Firebase("https://initialtictac.firebaseIO.com" + '/remoteCellList')) ;

    // $scope.clickCount = 0 ;

    //   $scope.remoteCellList.$bind($scope, "cellz");
    // $scope.$watch('cellz', function() {
    //   console.log('Model changed!') ;
    // }) ;

    $scope.dropSuccessHandler = function(event, index, array) {
    console.log(array);
    alert('sup!');
  };

  $scope.onDrop = function(event, data, array) {
    array.push(data);
    console.log(array);
  };

  $scope.test = function() { alert('test test test'); };

    var winCombos = [
        [0,1,2],
        [3,4,5],
        [6,7,8],
        [0,3,6],
        [1,4,7],
        [2,5,8],
        [0,4,8],
        [2,4,6]
        ];
      $scope.phase = 0;
      $scope.p1_wins = 0;
      $scope.p2_wins = 0;


      $scope.init = function() {

        $scope.dropped = [];
        $scope.items = [
          {id: 0, player: 1}, 
          {id: 1, player: 1},
          {id: 2, player: 1},
          {id: 3, player: 1},
          {id: 4, player: 1}, 
          {id: 5, player: 2},
          {id: 6, player: 2},
          {id: 7, player: 2},
          {id: 8, player: 2}
      ];

        $scope.cellz = [
          {idee:0, owner:null, win:null},
          {idee:1, owner:null, win:null},
          {idee:2, owner:null, win:null},
          {idee:3, owner:null, win:null},
          {idee:4, owner:null, win:null},
          {idee:5, owner:null, win:null},
          {idee:6, owner:null, win:null},
          {idee:7, owner:null, win:null},
          {idee:8, owner:null, win:null}];

  

        $scope.moves = 1; //no moves made (initialize at 1 so player 1 is odd / player 2 is even)
        $scope.player1_moves=0;
        $scope.player2_moves=0; 
        $scope.player = "Start";
        $scope.p_number = ""; //player is undefined initially
        $scope.results = ['','','','','','','','',''];
        $scope.winner = ""
        $scope.catsgame = ""
        $scope.winner_declared= false;
      } 

      $scope.namePlayer = function(player) {
        if (player == 1) {
          $scope.phase +=1;
          document.getElementById("p1_input").blur();
          document.getElementById("p2_input").focus();
        }
        else {  
          $scope.phase +=2;
        }      
      }

      $scope.player_move = function(cell) {
      //   ev.preventDefault();
      // var data = ev.dataTransfer.getData("Text");
      // ev.target.appendChild(document.getElementById(data));
      //   var rect = document.getElementById("tile"+cell.idee).getBoundingClientRect();

        // console.log(rect);
        console.log("test");
        if ($scope.player1_input==undefined) {
          $scope.player1_input = "Player 1"; 
        }
        if ($scope.player2_input==undefined){
          $scope.player2_input = "Player 2";
        }

        if ($scope.moves %2!=0) { //odds (player 1)
          $scope.player = "Player 1";
          $scope.p_number = "p2";
          play_game(cell, "p1", "p2");
        }
        else { //even (player 1)
          $scope.player = "Player 2";
          $scope.p_number = "p1";
          play_game(cell, "p2", "p1");
        }
      }

      var play_game = function(cell, player, opponent) {
        if ($scope.results[cell.idee] == opponent){
          alert("Your opponent already owns that space. Choose Another");
        }
        else if ($scope.results[cell.idee] == player){
          alert("You already own that space. Choose Another");
        }
        else {
          $scope.results[cell.idee] = player;

          $scope.moves ++;
          if ($scope.player == "Player 1") {
            $scope.player1_moves++;
            $scope.next_turn = $scope.player2_input;
            cell.owner = player;
          }
          else {
            $scope.player2_moves++;
            $scope.next_turn = $scope.player1_input;
            cell.owner = player;
          }
        // $scope.p1p2 = $scope.results[box];

           if ($scope.moves>5){
            $scope.winner_declared = false;
            for (var i = 0; i < winCombos.length; i++){ //win logic
              var combo = winCombos[i];
              if (($scope.results[combo[0]]==$scope.results[combo[1]]) && ($scope.results[combo[1]]==$scope.results[combo[2]]) && ($scope.results[combo[0]]!="")) {
                $scope.winning_array = winCombos[i];
                cell.win=false;
                console.log($scope.cellz);
                if ($scope.results[combo[0]] == "p1"){
                  $scope.winner_declared = true;
                  $scope.p1_wins++;
                  $scope.winner = $scope.player1_input;
                  win_sequence($scope.player1_input, $scope.winning_array);
                }
                else if ($scope.results[combo[0]] == "p2"){
                  $scope.winner_declared = true;
                  $scope.p2_wins++
                  $scope.winner = $scope.player2_input;
                  win_sequence($scope.player2_input, $scope.winning_array);
                }
              }
            }
            if ($scope.winner_declared == false && $scope.moves == 10) {
                $scope.catsgame = true;
              }

          }
        }
      } 

      function win_sequence(winner, win_array) {
        $scope.cellz[win_array[0]].win = "win";
        $scope.cellz[win_array[1]].win = "win";
        $scope.cellz[win_array[2]].win = "win";
      }

      
      $scope.init();

}])
.directive('ngEnter', function() {
        return function(scope, element, attrs) {
            element.bind("keydown keypress", function(event) {
                if(event.which === 13) {
                    scope.$apply(function(){
                        scope.$eval(attrs.ngEnter, {'event': event});
                    });

                    event.preventDefault();
                }
            });
        };
    })

// .directive("drag", ["$document", function($document){
//     return function(s, e, attr){
//       var start_x = 0,
//           start_y = 0,
//           x = 0,
//           y = 0;

//       e.css({
//         position: "relative",
//         backgroundColor: 'yellow',
//         padding: "10px",
//         pointerevents: "inherit"
//       });

//       e.on("mousedown", function(event){
//         console.log(event);
//         event.preventDefault();
//         start_x = event.pageX - x;
//         start_y = event.pageY - y;
//         $document.on("mousemove", mousemove);
//         $document.on("mouseup", mouseup);
//       });

//       function mousemove(event) {
//         x = event.pageX - start_x;
//         y = event.pageY - start_y;
//         e.css({
//           top: y + "px",
//           left: x + "px"
//         });
//       }

//       function mouseup(event) {
//         $document.off("mousemove", mousemove);
//         $document.off("mouseup", mouseup);
//         // $scope.simulate(document.getElementById("grid"), "click", { pointerX: 123, pointerY: 321 });
//         console.log(event);
//       }

//     }

// }])
;

</script>  
</body>
</html>