body{
  text-align: center;
  background: black;
  color:white;
}

#grid{
  margin-top: 100px;
}

.box, .box.player{
  margin:5px;
  background: white;
  display: inline-block;
}

.columnA, .columnB, .columnC {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

.p1{
  background: #00CCCC;
}

.p2{
  background: #FF9966;
}

