body{
  background: black;
  color: white;
  font-family: helvetica;
}

.name_textbox{
  border-radius: 30px;
  padding-left: 10px;
}

#results, #players {
  display: inline-block;
  position: fixed;
  top: 70px;
  right: 60px;
  width: 250px;
  height: 300px;
}

#results {
  left: 60px;
}

.turn_count{
  display: inline-block;
  margin-right: 20px;
}

#player_icon{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

#grid{
  text-align: center;
  border: 4px solid black;
  width: 400px;
  margin: 100px auto;
}

#turn1, #turn2{
  font-size: 35px;
  margin: 0px 17px;
}

.turn_count #turn1 {
  color: #00CCCC;
}

.turn_count #turn2 {
  color: #FF9966;
}

.box {
  margin: 3px;
  background: white;
  display: inline-block;
  border: 4px solid black;
  width: 100px;
  height: 100px;
}

.p1 {
  background: #00CCCC;
}

.p2 {
  background: #FF9966;
}

/*box:hover {
  border: 4px solid #00CCCC;
}

.box2:hover {
  border: 4px solid #FF9966;
}

.p1:hover {
  border: 4px solid #00CCCC;
}

.p2:hover{
  border: 4px solid #FF9966;
}

.p1 #player_icon:hover{
  border: 2px solid black;
}*/

.name_textbox:focus{
  outline:none;

}


