<!DOCTYPE html>
<html ng-app="tictactoe">
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
  <title>TicTacTest</title>
</head>
<body>
  <section ng-controller="cube" id="grid">
    <section id="columnA" class="boxes">
      <div id="0" class="box columnA ng-class: results[0];" ng-class="box.player" ng-click="player_move($event)"></div>
      <div id="1" class="box columnA ng-class: results[1];" ng-class="box.player" ng-click="player_move($event)"></div>
      <div id="2" class="box columnA ng-class: results[2];" ng-class="box.player" ng-click="player_move($event)"></div>
    </section>

    <section id="columnB" class="boxes">
      <div id="3" class="box columnB ng-class: results[3];" ng-class="box.player" ng-click="player_move($event)"></div>
      <div id="4" class="box columnB ng-class: results[4];" ng-class="box.player" ng-click="player_move($event)"></div>
      <div id="5" class="box columnB ng-class: results[5];" ng-class="box.player" ng-click="player_move($event)"></div>
    </section>

    <section id="columnC" class="boxes">
      <div id="6" class="box columnC ng-class: results[6];" ng-class="box.player" ng-click="player_move($event)"></div>
      <div id="7" class="box columnC ng-class: results[7];" ng-class="box.player" ng-click="player_move($event)"></div>
      <div id="8" class="box columnC ng-class: results[8];" ng-click="player_move($event)"></div>
    </section>
  </section>
  {{results}}
<script type="text/javascript">
  angular.module("tictactoe", [])
    .controller('cube', ['$scope', function($scope) {
      var moves = 1; //no moves have been made
      // $scope.player: box.player.id;
      $scope.results = ['','','','','','','','','']

      $scope.player_move = function(anything) {
        var box_number = anything.target.id;
        if (moves %2!=0){//odds (player 1)
          player_1(box_number);}
        else {
          player_2(box_number);}
      };

      var player_1 = function(box) {
        console.log(box);
        if ($scope.results[box] == "p2"){
          alert("Player 2 already owns that space. Choose Another");}
        else if ($scope.results[box] == "p1"){
          alert("You already own that space. Choose Another");}
        else {
        $scope.results[box] = "p1";
        moves ++;}
      }

      var player_2 = function(box) {
        if ($scope.results[box] == "p1"){
          alert("Player 1 already owns that space. Choose Another");}
        else if ($scope.results[box] == "p2"){
          alert("You already own that space. Choose Another");}
        else {
          $scope.results[box] = "p2";
          moves++}
      }

    }]);
</script>  
</body>
</html>